html {
  scroll-behavior: smooth;
}
ol.menu {
a, a:visited {
  color: inherit;         /* màu chữ kế thừa từ cha */
  text-decoration: none;  /* bỏ gạch chân */
}

a:hover {
  text-decoration: underline; /* hoặc bỏ luôn nếu không muốn gạch chân khi hover */
  cursor: pointer; 
}

a:active {
  color: inherit; /* giữ nguyên khi click */
}

}
